.docs article h1 + ul li:before {
  content: "# ";
  margin-right: .25em;
  color: #add1ff;
}

.docs article h1 + ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.8;
  padding-bottom:20px;
  border-bottom: 1px dashed #f0f2f1;
  -webkit-font-smoothing: antialiased;
}
