$headings-font-weight:600;
$h1-font-size:1.875rem;
$h2-font-size:1.6rem;
$h3-font-size:1.4rem;
$h4-font-size:1.2rem;
$h5-font-size:1.1rem;
$font-size-base:1rem;

$svg-color:#5f5f65;
$font-color:#22292f;
$note-link-color:#a4e5ff;
$article-link-color: #058bd0;
$navbar-padding-y:1rem;

$menu-heading-color:#808185;

@import '~bootstrap/scss/bootstrap';
@import '~prismjs/themes/prism.css';
@import 'documentation';

@import url('https://rsms.me/inter/inter.css');

body, html {
  color: $font-color;
  font-family: Inter, Helvetica, Arial, sans-serif;
}

a {
  color:$font-color;
  text-decoration:none !important;
}

// Add extra margin to the bottom for some breathing room.
article {
  margin-bottom:50px;
}

article .anchor-tag {
  font-weight: 400;
  color: $article-link-color;
  opacity: .6;
}

.side-nav a.active {
  cursor:default;
  font-weight:500;
  color:$link-color;
}

.side-nav > ul, .side-nav > ul > li > ul {
  list-style-type:none;
  padding-left:0;
}

.side-nav > ul > li > ul > li {
  font-weight: 600;
  padding-bottom:5px;
  a {
    color:#555555;
  }
}

.side-nav > ul > li > h2 {
  font-size:0.9rem;
  color:$menu-heading-color;
  text-transform:uppercase;
  padding-bottom:5px;
  margin-bottom:0.5rem;
  border-bottom:1px solid #dee2e6;
}

blockquote {
  display:flex;
  color:#fff;
  border-radius:3px;
  background:#3f8bca;
  box-shadow:0 1px 1px rgba(0, 0, 0, 0.15);
}

blockquote .flag {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding:0 1rem 0;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
  background-color:#2779bd;
}

blockquote a {
  color: $note-link-color !important;
  text-decoration: underline !important;
}

blockquote a:hover {
  color: darken($note-link-color, 20%) !important;
}

blockquote > div:not(.flag) {
  margin:0;
  border-radius:3px;
  padding:0 10px 0 10px;
}

table {
  @extend .table, .table-bordered;
  border-collapse: collapse;
  border-radius: 3px;
  border-top:1px $menu-heading-color;
  border-left:1px $menu-heading-color;
  border-right:1px $menu-heading-color;
  box-shadow:0 1px 1px rgba(0, 0, 0, 0.15);
}

span.token.operator {
  background-color:inherit !important;
}

span.token.variable {
  color:#005cc5;
}

pre {
  @extend .rounded;
  font-size: 0.9rem !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
  background-color:rgba(238, 238, 238, 0.35) !important;
}

h1,h2,h3,h4,h5,h6 {
  color:#525252;
  margin-top:1rem;
  margin-bottom:1rem;
}

article {
    h1,h2,h3,h4,h5,h6 {
        margin-top:1.5rem;
    }
}

// Equal spacing on top and bottom of paragraphs.
p {
  margin-top:1rem;
}

p > code.language-php,li > code.language-php {
  padding-left:5px;
  padding-right:5px;
}

.alert-secondary {
  background-color:#f1f1f1;
}

// Create some extra border utilities.
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .border#{$infix}-right { border-right: $border-width solid $border-color !important; }
    .border#{$infix}-bottom-none { border-bottom: none !important; }
  }
}

// Always display the nav when medium or larger.
@media(min-width:map-get($grid-breakpoints, md)) {
  .collapse:not(.show) {
    display:block !important;
  }
}

.collapsing {
    transition: none !important;
}
