<div class="feature">
    <div class="top-bar flex items-center justify-between">
        <div class="flex justify-start items-center">
                <span class="mx-1">
                    <img src="/assets/img/icon-only.svg" style="width:10px;height:10px;" alt="window icon">
                </span>
            <span class="text-white">LdapRecord</span>
        </div>
        <div class="flex justify-end circles">
            <button type="button">_</button>
            <button type="button">🗖</button>
            <button type="button">X</button>
        </div>
    </div>

    
Notice: Undefined variable: slot in C:\laragon\www\LdapRecord.com\cache\0c7bfb7acb3108a23dd0d3cfa3e2e3883fb79840.php on line 16

</div>