@tailwind base;
@tailwind components;

@import 'prism-theme';

@import 'base';
@import 'navigation';
@import 'search';

@tailwind utilities;

.scrollbar-none::-webkit-scrollbar {
  width: 0 !important;
}

.feature {
  @apply .flex;
  @apply .flex-col;

  .top-bar {
    height:35px;
    @apply .bg-gray-700;
    @apply .rounded-t-lg;

    .circles {
      @apply .pt-1;
      @apply .pl-3;
      .circle {
        @apply .rounded-full;
        @apply .inline-block;
        height: 12px;
        width: 12px;
      }.circle-red {
         @apply .bg-red-500;
      }.circle-yellow {
        @apply .bg-yellow-500;
      }.circle-green {
        @apply .bg-green-500;
       }
    }
  }

  pre {
    @apply .m-0;
    @apply .rounded-t-none;
  }
}

.DocSearch-content {
  ul {
    @apply .ml-8;
  }

  blockquote {
    @apply .bg-blue-100;
    @apply .rounded;
    @apply .py-2;
    @apply .px-4;

    p {
      @apply .m-0;
    }
  }

  /* Hide scrollbars. */
  pre {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    ::-webkit-scrollbar { /* WebKit */
      width: 0;
      height: 0;
    }
  }
}
