@tailwind base;
@tailwind components;

@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

@import 'prism-theme';

@import 'base';
@import 'navigation';
@import 'search';
@import 'hero';

@tailwind utilities;

.text-shadow {
  text-shadow:1px 2px rgba(0,0,0,.1);
}

.feature {
  @apply .flex;
  @apply .flex-col;

  pre {
    @apply .my-0;
    @apply .rounded-t-none;
  }

  .top-bar {
    height: 35px;
    @apply .bg-gray-700;
    @apply .rounded-t-lg;

    .circles {
      @apply .pt-1;
      @apply .pl-3;
      .circle {
        @apply .rounded-full;
        @apply .inline-block;
        height: 12px;
        width: 12px;
      }
      .circle-red {
        @apply .bg-red-500;
      }
      .circle-yellow {
        @apply .bg-yellow-500;
      }
      .circle-green {
        @apply .bg-green-500;
      }
    }
  }
}

.content {
  h1 {
    @apply .border-b-2;
    @apply .border-purple-200;
  }

  h2 {
    @apply .border-b-2;
    @apply .border-purple-200;
  }

  h1+ul {
    @apply .ml-0;
    @apply .list-none;

    li a:before {
      content:'# ';
      @apply .text-purple-400;
    } li a {
      @apply .text-sm;
      @apply .text-gray-700;

      &:hover {
        @apply .text-purple-500;
      }
    }
  }

  h1+ul ul {
    @apply .list-none;
  }

  /* Hide scrollbars. */
  pre {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    ::-webkit-scrollbar { /* WebKit */
      width: 0;
      height: 0;
    }
  }
}
