@tailwind base;
@tailwind components;

@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

@import 'prism-theme';

@import 'base';
@import 'navigation';
@import 'search';
@import 'hero';

@tailwind utilities;

.text-shadow {
  text-shadow:1px 2px rgba(0,0,0,.1);
}

.text-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent
}

.bg-gradient-l-purple-light {
  background-image: linear-gradient(to right, rgb(127, 0, 255) 0%, rgb(225, 0, 255) 100%);
}

.border-gradient-l-purple-light {
  @apply .border-purple-600;
  border-image-slice:1;
  border-image-source: linear-gradient(to right, rgb(127, 0, 255) 0%, rgb(225, 0, 255) 100%);
}

.content {
  h1 {
    @apply .border-b-2;
    @apply .border-purple-200;
  }

  h2 {
    @apply .border-b-2;
    @apply .border-purple-200;
  }

  h1+ul {
    @apply .ml-0;
    @apply .list-none;

    li a:before {
      content:'# ';
      @apply .text-purple-400;
    } li a {
      @apply .text-sm;
      @apply .text-gray-700;

      &:hover {
        @apply .text-purple-500;
      }
    }
  }

  h1+ul ul {
    @apply .list-none;
  }

  .api-method-list {
    > p {
      column-count: 2; 
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-gap: 2em;
      -moz-column-gap: 2em;
      -webkit-column-gap: 2em;

      @screen md {
        column-count: 3;
        -moz-column-count: 3;
        -webkit-column-count: 3;
      }
    }

    a {
      @apply .block;
      @apply .rounded;
      @apply .font-mono;
      @apply .text-sm;
      @apply .text-purple-700;
      @apply .p-1;
      @apply .mb-1;

      &:hover {
        @apply .text-purple-900;
      }
    }
  }

  /* Hide scrollbars. */
  pre {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    ::-webkit-scrollbar { /* WebKit */
      width: 0;
      height: 0;
    }
    .language-bash:before {
      content: '>_ ';
      @apply .text-gray-500;
    }
  }

  pre.language-bash {
    @apply .bg-gray-800;
    @apply .text-white;

    code {
      @apply .bg-gray-800;
      @apply .text-white;
    }
  }

  div.prism-show-language {
    @apply .relative;
  
    .prism-show-language-label {
      bottom: auto;
      top: 0;
      right: 0;
      width: auto;
      height:auto;
      padding:5px;
      z-index:1;
      @apply .inline-block;
      @apply .absolute;
      @apply .bg-gray-300;
      @apply .rounded-tr;
      @apply .rounded-bl;
      @apply .font-mono;
      @apply .text-sm;
      @apply .uppercase;
      @apply .bg-opacity-75;
    }
  }
}
